@charset "UTF-8";

body {
  color : lightblue;
  background : black;
}

table, td {
	border: 1px solid #F3F3F3
}

td {
	padding: 2px;
	height: 40px;
}

.isSelected {
  /* bold */
}

.mainBoard {
	/*width: 40%;*/
}

.lowerBoard {
	/*width: 40%;*/
}

.key {
	width: 40px;
}

.space {
	width: 50px;
	background : gray;
}

.gutter {
	width: 10px;
	background : gray;
}








